import os
from airflow import DAG
from airflow.operators.bash import BashOperator
from airflow.operators.empty import EmptyOperator
from jinja2 import Environment,FileSystemLoader
from datetime import datetime


PARTITIONS = {{partitions}}

START_DATE = datetime.strptime("{{start_date}}","%Y-%m-%d")

file_dir = os.path.dirname(os.path.abspath(__file__))

with DAG(dag_id="{{dag_id}}",start_date=START_DATE,schedule_interval="{{schedule_interval}}") as dag:

    start = EmptyOperator(task_id="start")
    end = EmptyOperator(task_id="end")

    for p in PARTITIONS:

        task = BashOperator(task_id="task"+p,bash_command=f"echo dir = {file_dir}")
        logging = BashOperator(task_id="logging"+p,bash_command='echo hello')


        start >> task >> logging >> end